.dropdown_menu{
    position: absolute;
    top: -8px;
    left: 120px;
    background-color: #FFFFFF;
    width: 150px;
    z-index: 1;
    box-shadow: 0.260636px 6.99515px 11px rgba(0, 0, 0, 0.08), 0.153463px 4.11874px 5.7376px rgba(0, 0, 0, 0.057856), 0.0316934px 0.85061px 1.1792px rgba(0, 0, 0, 0.035072);
    border-radius: 6px;
    font-family: 'Lato';
    border: none!important;
    
}

.can-edit{
    color: #10B981;
    border: none;
    box-shadow: none;
}

.svg_color path{
    fill: #10B981;
}

.can-view{
    color: #3A3A3A;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;

}

.can-edit{
    color: #10B981;
    font-weight: 500;
font-size: 15px;
line-height: 21px;
}

.remove-user{
   color: #F43F5E;
   font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 21px;
}